body {
  font-size: 18px;
  line-height: 28px;
}

.navbar {
  background: #9e9e9e;
  font-size: 19px;
  font-weight: 390;
  color: black;
}

.navbar-brand {
  font-size: 23px;
  font-weight: bold;
  color: black;
}

.topic {
  color: white;
  font-size: 24px;
  background: #00a9c6;
  padding: 10px 10px 10px 10px;
}

.topic a:link {
  color: black;
}

.topic a:visited {
  color: black;
}


.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.virtual-judges{
  display: inline;
  width: 50%;
}
